$primary-color: #354EC3;
$secondary-color: #FD8C4A;
$background-color: #FDF6EF;

.siden{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.billede{
    height: 830px;
    width: 595px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cecilie{
    height: 100%;
}

form{
    height: 830px;
    width: 600px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    margin: 10px;
    font-size: 20px;
}

#navn{
    height: 30px;
    margin: 10px;
}

#telefonnummer{
    height: 30px;
    margin: 10px;
}

#email{
    height: 30px;
    margin: 10px;
}

#besked{
    height: 200px;
    margin: 10px;
}
.huskmig{
    margin: 10px;
    font-size: 20px;
}

#indsend{
    height: 50px;
    width: 150px;
    border-color: $secondary-color;
    border: solid 2px;
    color: $secondary-color;
    background-color: transparent;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;

    &:hover {
        color:$primary-color; 
      }
}

@media screen and (max-width: 800px){
    .siden{
    flex-wrap: wrap;
    }

    .billede{
    height: 500px;
    width: auto;
    }
    form{
    margin: 10px;
        }
}