.siden{
    height: auto;
    width: auto;
    display: flex;
}

.billede{
    height: 830px;
    width: 595px;
    border: solid 3px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cecilie{
    height: 100%;
}

form{
    height: 830px;
    width: 600px;
    border: solid 3px;
    margin: 100px;
    display: flex;
    flex-direction: column;
}

p{
    margin: 10px;
}

#navn{
    height: 30px;
    margin: 10px;
}

#telefonnummer{
    height: 30px;
    margin: 10px;
}

#email{
    height: 30px;
    margin: 10px;
}

#besked{
    height: 200px;
    margin: 10px;
}

#indsend{
    height: 30px;
    margin: 10px;
    margin-top: 20px;
    background-color: #cf7c6b;
}

.admin{
    height: 400px;
    width: 1410px;
    border: solid 3px;
    margin-left: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailboks{
    height: 350px;
    width: 1410px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.kontaktliste {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
  }

  .kontakt {
    width: 650px;
    border: 1px solid #ccc; 
    padding: 10px; 
    flex: 1 0 calc(50% - 20px); 
  }