$primary-color: #354EC3;
$secondary-color: #FD8C4A;
$background-color: #FDF6EF;

body {
  background-color: $background-color; 
  margin: 0; 
  padding: 0; 
}

.psvideo-container {
  height: 80vh; 
  width: 100%; 
  background-position: center;
  position: relative;
  margin: 0 auto;
  padding: 0;  


  .psvideo {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
    display: block;
    object-fit: cover; 
  }
  
  
  .psvideo-tekst {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    max-width: 80%; 
    color: $background-color;
  }
  .psoverskriftvideo{
    color: $secondary-color;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .psunderskrift{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.sth2, .psh2, .gh2, .gnh2{
  color: $secondary-color;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.konsultation, .psfelt, .garderobe, .gnfelt {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100%;
    height: auto;
  }

  
  .konsultation-container, .ps-container, .garderobe-container, .gn-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    max-width: 1250px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 30px;
    position: relative;
  }

  @media(max-width: 768px){
    .konsultation-container, .ps-container, .garderobe-container, .gn-container{
        flex-direction: column;
    }
}
  
  .skfoto img, .psfoto img, .garderobefoto img, .gnfoto img {
    flex: 1; 
    max-width: 100%;
    max-height: 100%;
    img {
      width: 100%; 
      height: 100%;
      object-fit: cover; 
    }
  }

  
  .sktekst, .pstekst, .garderobetekst, .gntekst {
    background-color: antiquewhite; 
    flex: 1;
    padding: 20px; 
    text-align: center;
    max-width: 100%;
    width: 100%; 
    box-sizing: border-box;

    
    h3 {
      margin-bottom: 50px;
      margin-top: 50px; 
      font-size: 25px; 
      text-align: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    p {
      margin-bottom: 24px; 
      text-align: center;
      line-height: 1.5;
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .pris {
    margin-top: 60px; 
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .bookknapps {
      position: relative;
      font-size: 20px;
      font-weight: bold;
      color: $secondary-color;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      text-decoration: underline;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      
      .bookknapps:hover {
        color:$primary-color; 
      }
    }  