$primary-color: #354EC3;
$secondary-color: #FD8C4A;
$background-color: #FDF6EF;


body {
    background-color: $background-color; 
    margin: 0; 
    padding: 0; 
  }

  .tk-indhold {
    display: flex;
    align-items: flex-start;
  }
  
.billede-api{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .api-tekst{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 100px;

      h2{
        margin: 50px;
        font-size: 60px;
      }
    }

    img{
      height: 700px;
      width: auto;
      margin: 80px;
    }
}
@media screen and (max-width: 800px) {
  .billede-api {
    flex-wrap: wrap;

    .api-tekst{
      margin: 10px;
    }

    img{
      height: 400px;
    }
  }
  
}


  .tkbilleder img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
  
  .tkbilleder-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
    flex-wrap: wrap;
    position: relative;
  }
  
  .tkbilleder {
    margin: 0 10px; 
    max-width: 400px; 
    margin: 0 50px;
    width: 100%; 
    height: 100%; 
  }
  
  .tidligereklumme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: $secondary-color;
  }

  .modaltk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2; 
    width: 60%; 
    height: auto; 
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px; 
  }
  
  /* Modal indhold */
  .modal-indhold {
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto; 
    max-height: 100%;
  }
  
  .closetk {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .closetk:hover,
  .closetk:focus {
    color: $primary-color;
    text-decoration: none;
  }

  .modalknaptk{
    cursor: pointer;
    text-decoration: underline;
    color: $secondary-color;
  }
  .modalknaptk:hover {
    color: $primary-color; 
    text-decoration: underline; 
  }

  .modalbillede-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: auto; 
}
  


  

