@charset "UTF-8";
body {
  background-color: #FDF6EF;
  margin: 0;
  padding: 0;
}

* {
  padding: 0%;
  margin: 0;
}

.psvideo-container {
  height: 80vh;
  width: 100%;
  background-position: center;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.psvideo-container .psvideo {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.psvideo-container .psvideo-tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
  color: #FDF6EF;
}
.psvideo-container .psoverskriftvideo {
  color: #FD8C4A;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.psvideo-container .psunderskrift {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sth2, .psh2, .gh2, .gnh2 {
  color: #FD8C4A;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.konsultation, .psfelt, .garderobe, .gnfelt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.konsultation-container, .ps-container, .garderobe-container, .gn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1250px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 30px;
  position: relative;
}

@media (max-width: 768px) {
  .konsultation-container, .ps-container, .garderobe-container, .gn-container {
    flex-direction: column;
  }
}
.skfoto img, .psfoto img, .garderobefoto img, .gnfoto img {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}
.skfoto img img, .psfoto img img, .garderobefoto img img, .gnfoto img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sktekst, .pstekst, .garderobetekst, .gntekst {
  background-color: antiquewhite;
  flex: 1;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.sktekst h3, .pstekst h3, .garderobetekst h3, .gntekst h3 {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sktekst p, .pstekst p, .garderobetekst p, .gntekst p {
  margin-bottom: 24px;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sktekst .pris, .pstekst .pris, .garderobetekst .pris, .gntekst .pris {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sktekst .bookknapps, .pstekst .bookknapps, .garderobetekst .bookknapps, .gntekst .bookknapps {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #FD8C4A;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-decoration: underline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sktekst .bookknapps:hover, .pstekst .bookknapps:hover, .garderobetekst .bookknapps:hover, .gntekst .bookknapps:hover {
  color: #354EC3;
}

body {
  background-color: #FDF6EF;
  margin: 0;
  padding: 0;
}

.tk-indhold {
  display: flex;
  align-items: flex-start;
}

.billede-api {
  width: 100%;
  height: auto;
  background-color: pink;
}

.tkbilleder img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.tkbilleder-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
  position: relative;
}

.tkbilleder {
  margin: 0 10px;
  max-width: 400px;
  margin: 0 50px;
  width: 100%;
  height: 100%;
}

.tidligereklumme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #FD8C4A;
}

.modaltk {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: auto;
  padding: 20px;
}

/* Modal indhold */
.modal-indhold {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 80%;
}

.closetk {
  color: black;
  float: right;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.closetk:hover,
.closetk:focus {
  color: #354EC3;
  text-decoration: none;
}

.modalknaptk {
  cursor: pointer;
  text-decoration: underline;
  color: #FD8C4A;
}

.modalknaptk:hover {
  color: #354EC3;
  text-decoration: underline;
}

.modalbillede-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.modalbillede-container img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  background-color: #FDF6EF;
  margin: 0;
  padding: 0;
}

.ommig-indhold {
  display: flex;
  flex-direction: column; /* Ændrer til lodret layout */
  align-items: center;
  position: relative;
}

#ommigbillede {
  max-width: 100%;
  height: auto;
  margin: 40px 0;
  margin-bottom: 40px;
  padding-top: 20px;
}

.ommig-tekst {
  max-width: 100%;
  padding: 0 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.5;
}

h2 {
  color: #FD8C4A;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .ommig-indhold {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  #ommigbillede {
    max-width: 30%;
    margin: 0 40px 0 10%;
  }
  .ommig-tekst {
    max-width: 50%;
    margin: 40px 10%;
    padding: 0 40px;
  }
}
.instagram-info {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}

#instalogo {
  width: 80px;
  height: auto;
}

.instanavn {
  font-size: 2rem;
  text-align: left;
}

.ommigfoto-container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
  transition: transform 0.5 ease;
}

.ommig-fotogalleri img:hover {
  transform: scale(1.1);
}

.fotogalleri {
  display: flex;
  gap: 20px;
}

.kolonne {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ommig-fotogalleri img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .fotogalleri {
    flex-direction: column;
  }
}
.siden {
  height: auto;
  width: auto;
  display: flex;
}

.billede {
  height: 830px;
  width: 595px;
  border: solid 3px;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cecilie {
  height: 100%;
}

form {
  height: 830px;
  width: 600px;
  border: solid 3px;
  margin: 100px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 10px;
}

#navn {
  height: 30px;
  margin: 10px;
}

#telefonnummer {
  height: 30px;
  margin: 10px;
}

#email {
  height: 30px;
  margin: 10px;
}

#besked {
  height: 200px;
  margin: 10px;
}

#indsend {
  height: 30px;
  margin: 10px;
  margin-top: 20px;
  background-color: #cf7c6b;
}

.admin {
  height: 400px;
  width: 1410px;
  border: solid 3px;
  margin-left: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailboks {
  height: 350px;
  width: 1410px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.kontaktliste {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.kontakt {
  width: 650px;
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1 0 calc(50% - 20px);
}

* {
  margin: 0;
}

#logo {
  width: 10%;
  position: absolute;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  float: left;
  margin: 15px;
}
nav a {
  padding: 8px;
  margin: 8px;
  color: #FDF6EF;
  text-decoration: none;
  font-size: 25px;
}
nav a:hover {
  color: #FD8C4A;
}
nav #bookmenuknap {
  padding: 8px;
  margin: 8px;
  color: #FD8C4A;
  text-decoration: none;
  font-size: 25px;
}
nav #bookmenuknap:hover {
  color: #FDF6EF;
}

#personligshopper-header {
  background-color: #354EC3;
}

#bannerbilledeafsnit {
  height: 700px;
  width: 100%;
  background-image: url("@/assets/joker.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}
#bannerbilledeafsnit #bannerbilledeoverskrift {
  margin-top: 200px;
  font-size: 65px;
  color: #FD8C4A;
}
#bannerbilledeafsnit #bannerbilledeundertekst {
  font-size: 25px;
  color: #FD8C4A;
}

#contentkonsulentafsnit {
  height: 600px;
  width: 100%;
  background-color: #354EC3;
  display: flex;
  justify-content: center;
}
#contentkonsulentafsnit #forsidekonsulentbilleder {
  height: 500px;
  width: 700px;
  margin: 50px;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
#contentkonsulentafsnit #forsidekonsulentbilleder #konsulentstortbillede {
  width: 55%;
  margin-left: 100px;
  position: absolute;
}
#contentkonsulentafsnit #forsidekonsulentbilleder #konsulentlillebillede {
  width: 40%;
  float: right;
  margin-left: 400px;
  position: absolute;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks {
  height: 500px;
  width: 700px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks #konsulentoverskrift {
  color: #FD8C4A;
  font-size: 40px;
  margin: 30px;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks .modalknapperkonsulent {
  display: flex;
  align-items: center;
  z-index: 2;
  height: 50px;
  width: 670px;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks .modalknapperkonsulent:hover {
  cursor: pointer;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks .modalknapperkonsulent .forsidekonsulenttekst {
  color: #FD8C4A;
  font-size: 20px;
  margin: 30px;
  z-index: 1;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks .modalknapperkonsulent .forsidekonsulenttekstplus {
  color: #FD8C4A;
  font-size: 20px;
  margin-left: auto;
  z-index: 1;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks #konsulentlinje {
  height: 0px;
  width: 670px;
  color: #FD8C4A;
  border: solid 0.5px;
  margin-left: 30px;
}
#contentkonsulentafsnit #forsidekonsulenttekstboks #bookherknap {
  height: 50px;
  width: 150px;
  border-color: #FD8C4A;
  border: solid 2px;
  color: #FD8C4A;
  background-color: #354EC3;
  font-size: 15px;
  margin: 30px;
}
#contentkonsulentafsnit .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#contentkonsulentafsnit .modal .modal-content {
  background-color: #FDF6EF;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}
#contentkonsulentafsnit .modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#contentkonsulentafsnit .modal .close:hover, #contentkonsulentafsnit .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#samarbejdspartnereafsnit {
  height: 800px;
  width: 100%;
  background-color: #FDF6EF;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#samarbejdspartnereafsnit .samarbejdspartnerkasser {
  height: 650px;
  width: 400px;
  margin: 50px;
  flex: 0 0 auto;
  position: relative;
}
#samarbejdspartnereafsnit .samarbejdspartnerkasser .samarbejdsbilleder {
  transition: transform 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
}
#samarbejdspartnereafsnit .samarbejdspartnerkasser .samarbejdsoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: transform 0.3s ease;
  background-color: rgba(53, 78, 195, 0.5);
}
#samarbejdspartnereafsnit .samarbejdspartnerkasser:hover .samarbejdsbilleder {
  transform: scale(1.1);
}
#samarbejdspartnereafsnit .samarbejdspartnerkasser:hover .samarbejdsoverlay {
  opacity: 1;
  transform: scale(1.1);
}
#samarbejdspartnereafsnit .samarbejdspartnerkasser .samarbejdstekst {
  color: #FDF6EF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#personligshopperafsnit {
  height: 700px;
  width: 100%;
  background-image: url("@/assets/videotestbillede.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#personligshopperafsnit #forsidevideooverskrift {
  color: #FD8C4A;
  font-size: 50px;
  margin: 25px;
}
#personligshopperafsnit #forsidevideotekst {
  color: #FDF6EF;
  font-size: 25px;
  margin: 25px;
}
#personligshopperafsnit #bookherknap {
  height: 50px;
  width: 150px;
  border-color: #FD8C4A;
  border: solid 2px;
  color: #FD8C4A;
  background-color: transparent;
  font-size: 15px;
  margin: 25px;
}

#anbefalingerafsnit {
  height: 600px;
  width: 100%;
  background-color: #FDF6EF;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#anbefalingerafsnit #anbefalingeroverskrift {
  color: #FD8C4A;
  font-size: 40px;
}
#anbefalingerafsnit #anbefalingerkasser {
  height: 500px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#anbefalingerafsnit #anbefalingerkasser .anbefalingerboks {
  height: 350px;
  width: 400px;
  background-color: antiquewhite;
  border: solid rgba(0, 0, 0, 0.1);
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#anbefalingerafsnit #anbefalingerkasser .anbefalingerboks .anbefalingnavn {
  font-size: 20px;
  height: 30px;
  width: 300px;
}
#anbefalingerafsnit #anbefalingerkasser .anbefalingerboks .anbefalinglinje {
  height: 0px;
  width: 300px;
  border: solid 0.5px;
  color: rgba(0, 0, 0, 0.1);
}
#anbefalingerafsnit #anbefalingerkasser .anbefalingerboks .anbefalingtekst {
  font-size: 15px;
  height: 50px;
  width: 300px;
  margin-top: 80px;
  margin-bottom: 80px;
}
#anbefalingerafsnit #anbefalingerkasser .anbefalingerboks .anbefalingtype {
  font-size: 15px;
  height: 30px;
  width: 300px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #354EC3;
}/*# sourceMappingURL=style.css.map */