@use '_personligshopper.scss';
@use '_tirsdagsklumme';
@use '_ommig.scss';
@use '_bookher.scss';

$primary-color: #354EC3;
$secondary-color: #FD8C4A;
$background-color: #FDF6EF;

*{
    margin: 0;
}
#logo{
    width: 10%;
    position: absolute;
    padding: 15px;

}
nav{
    display: flex;
    justify-content: right;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        display: inline;
        float: left;
        margin: 15px;
    }
    a{
        
        padding: 8px;
        margin: 8px;
        color: $background-color;
        text-decoration: none;
        font-size: 25px;

    &:hover{
        color: $secondary-color;
    }
    }
    #bookmenuknap{
        padding: 8px;
        margin: 8px;
        color: $secondary-color;
        text-decoration: none;
        font-size: 25px;
    &:hover{
        color: $background-color;
        }
    }
}

#personligshopper-header{
    background-color: $primary-color;
}

#bannerbilledeafsnit{
    height: 700px;
    width: 100%;
    background-image: url('@/assets/joker.webp');
    background-size: cover;
    background-position: center;
    position: relative;

    #bannerbilledeoverskrift{
        margin-top: 200px;
        font-size: 65px;
        color: $secondary-color;
    }
    #bannerbilledeundertekst{
        font-size: 25px;
        color: $secondary-color;
    }
}
#contentkonsulentafsnit{
    height: 600px;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    #forsidekonsulentbilleder{
    height: 500px;
    width: 700px;
    margin: 50px;
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;

    #konsulentstortbillede{
    width: 55%;
    margin-left: 100px;
    position: absolute;
    }
    #konsulentlillebillede{
    width: 40%;
    float: right;
    margin-left: 400px;
    position: absolute;
    }
    }
    #forsidekonsulenttekstboks{
        height: 500px;
        width: 700px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        #konsulentoverskrift{
        color: $secondary-color;
        font-size: 40px;
        margin: 30px;
        }
        .forsidekonsulenttekst{
        color: $secondary-color;
        font-size: 20px;
        margin: 30px;
        }
        #bookherknap{
        height: 50px;
        width: 150px;
        border-color: $secondary-color;
        border: solid 2px;
        color: $secondary-color;
        background-color: $primary-color;
        font-size: 15px;
        margin: 30px;
        }
        }}
#samarbejdspartnereafsnit {
    height: 800px;
    width: 100%;
    background-color: $background-color;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
            
    .samarbejdspartnerkasser {
    height: 650px;
    width: 400px;
    margin: 50px;
    flex: 0 0 auto;
    position: relative;

        .samarbejdsbilleder {
            transition: transform 0.3s ease;
            display: block;
            width: 100%;
            height: auto;
        }
        .samarbejdsoverlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: transform 0.3s ease;
            background-color: rgba($primary-color, 0.5);
        }

        &:hover .samarbejdsbilleder {
            transform: scale(1.1);
        }
        &:hover .samarbejdsoverlay{
            opacity: 1;
            transform: scale(1.1);
        }
        .samarbejdstekst{
            color: $background-color;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}
#personligshopperafsnit{
    height: 600px;
    width: 100%;
    background-color: $primary-color;
}
#anbefalingerafsnit{
    height: 600px;
    width: 100%;
    background-color: $background-color;
}

footer{
    height: 100px;
    width: 100%;
    background-color: $primary-color;
}