$primary-color: #354EC3;
$secondary-color: #FD8C4A;
$background-color: #FDF6EF;

*{
    margin: 0;
}
#logo{
    width: 10%;
    position: absolute;
    padding: 15px;

}
nav{
    display: flex;
    justify-content: right;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        display: inline;
        float: left;
        margin: 15px;
    }
    a{
        
        padding: 8px;
        margin: 8px;
        color: $background-color;
        text-decoration: none;
        font-size: 25px;

    &:hover{
        color: $secondary-color;
    }
    }
    #bookknap{
        padding: 8px;
        margin: 8px;
        color: $secondary-color;
        text-decoration: none;
        font-size: 25px;
    &:hover{
        color: $background-color;
        }
    }
}

#personligshopper-header{
    background-color: $primary-color;
}

#bannerbilledeafsnit{
    height: 700px;
    width: 100%;
    background-image: url('@/assets/joker.webp');
    background-size: cover;
    background-position: center;
    position: relative;

    #bannerbilledeoverskrift{
        font-size: 65px;
        color: $secondary-color;
    }
    #bannerbilledeundertekst{
        font-size: 25px;
        color: $secondary-color;
    }
}
#contentkonsulentafsnit{
    height: 600px;
    width: 100%;
    background-color: $primary-color;
}
#samarbejdspartnereafsnit{
    height: 600px;
    width: 100%;
    background-color: $background-color;
}
#personligshopperafsnit{
    height: 600px;
    width: 100%;
    background-color: $primary-color;
}
#anbefalingerafsnit{
    height: 600px;
    width: 100%;
    background-color: $background-color;
}

#shoppersidevideo{
    height: 100%;
    width: 100%;
}

footer{
    height: 100px;
    width: 100%;
    background-color: $primary-color;
}