$primary-color: #354EC3;
$secondary-color: #FD8C4A;
$background-color: #FDF6EF;

*{
    margin: 0;
}
#logo{
    width: 10%;
    position: absolute;
    padding: 15px;

}
nav{
    display: flex;
    justify-content: right;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        display: inline;
        float: left;
        margin: 15px;
    }
    a{
        
        padding: 8px;
        margin: 8px;
        color: $background-color;
        text-decoration: none;
        font-size: 25px;

    &:hover{
        color: $secondary-color;
    }
    }
    #bookknap{
        padding: 8px;
        margin: 8px;
        color: $secondary-color;
        text-decoration: none;
        font-size: 25px;
    &:hover{
        color: $background-color;
        }
    }
}

#personligshopper-header{
    background-color: $primary-color;
}

#bannerbilledeafsnit{
    height: 700px;
    width: 100%;
    background-image: url('@/assets/joker.webp');
    background-size: cover;
    background-position: center;
    position: relative;

    #bannerbilledeoverskrift{
        margin-top: 200px;
        font-size: 65px;
        color: $secondary-color;
    }
    #bannerbilledeundertekst{
        font-size: 25px;
        color: $secondary-color;
    }
}
#contentkonsulentafsnit{
    height: 600px;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    #forsidekonsulentbilleder{
    border: solid 2px;
    height: 500px;
    width: 700px;
    margin: 50px;
    overflow: hidden;
    position: relative;

    #konsulentstortbillede{
    width: 55%;
    margin-left: 100px;
    position: absolute;
    }
    #konsulentlillebillede{
    width: 40%;
    float: right;
    margin-right: 100px;
    }
    }
    #forsidekonsulenttekst{
    border: solid 2px;
    height: 500px;
    width: 700px;
    margin: 50px;
    }}
#samarbejdspartnereafsnit{
    height: 600px;
    width: 100%;
    background-color: $background-color;
}
#personligshopperafsnit{
    height: 600px;
    width: 100%;
    background-color: $primary-color;
}
#anbefalingerafsnit{
    height: 600px;
    width: 100%;
    background-color: $background-color;
}

#shoppersidevideo{
    height: 100%;
    width: 100%;
}

.konsultation, .psfelt, .garderobe {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100%;
    height: auto;
  }
  
  .konsultation-container, .ps-container, .garderobe-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    max-width: 1000px;
    padding: 40px; 
    margin-bottom: 10px;

  }
  
  .skfoto, .psfoto, .garderobefoto {
    flex: 1; 
    max-width: 100%;
    max-height: 100%;
    img {
      width: 100%; 
      height: 100%;
      object-fit: cover; 
    }
  }
  
  .sktekst, .pstekst, .garderobetekst {
    background-color: $background-color; 
    flex: 1;
    font-size: 18px; 
    padding: 20px; 
    
    h2 {
      margin-bottom: 50px;
      margin-top: 50px; 
      font-size: 20px; 
      text-align: center;
    }
  
    p {
      margin-bottom: 18px; 
      text-align: center;
      line-height: 1.5;
    }
  
    .pris {
    margin-top: 60px; 
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    }
  
    .bookknap {
        margin-top: 50px; 
        font-size: 20px;
        font-weight: bold;
        color: $secondary-color; 
        background-color: transparent; 
        border: none; 
        cursor: pointer;
        text-decoration: none; 
        text-decoration: underline;
      }
      
      .bookknap:hover {
        color:$primary-color; 
      }
    }  
  

footer{
    height: 100px;
    width: 100%;
    background-color: $primary-color;
}